$color-black: #000;
$color-white: #fff;
$color-grey: #f7f7f7;
$color-grey-dark: #555;
$color-grey-darkest: #333;

$color-red: #bf0404;
$color-green: #56eda6;

$font-main: 'Roboto Condensed', sans-serif;